*
{
  margin: 0;
  padding: 0;
}

.headerInfo
{
  display: flex;
  justify-content: space-evenly;
  color: #707070;
  padding: 2% 0;
  align-items: center;
}
.headerImage
{
  width: 12%;

}
.nameAndTitle
{
  margin-top: -1%;
}
.nameAndTitle p
{
  margin: 0;
}
.nameAndTitle h1
{
  margin: 0;
}

.navBar
{
  padding: 1.3% 0;
  display: flex;
  justify-content: space-around;
  background-color: black;
}
.navbar-item
{
  text-decoration: none;
  color: white;
}
.selected
{
  text-decoration: underline;
  text-decoration-color: #80C8E1;
  text-decoration-thickness: 5px;
  text-decoration-style: solid;
}

.title
{
  width: 80%;
}
.titleComponent
{
  padding-top: 10%;
  padding-left: 10%;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
}
.titleText
{
  padding-top: 5%;
  padding-left: 3%;
  color: white;
}
.arrow
{
  width: 5%;
}

.blackBack
{
  color: white;
  background-color: black;
}

.Text
{
  margin: 0 10% 0 15%;
}

.projectLink
{
  margin-top: 5%;
  color: #80C8E1;
  text-decoration: none;
}
.projectFoot
{
  display: flex;
  justify-content: space-between;
}
.ProjectPreview
{
  margin-left: 15%;
  width: 70%;
}
.projectName p
{
  margin-bottom: 5%;
}
.projectImage
{
  width: 100%;
  margin: 4% 0%;
}

.contactIcons
{
  width: 80%;
  padding: 0 10%;
  display: flex;
  padding-bottom: 15%;
}
.contactIcon
{
  width: 12%;
  height: 12%;
  padding-right: 3%;
}

.siteButton
{
  color: #80C8E1;
  border-color: #80C8E1;
  background-color: rgba(255, 255, 255, 0);
  padding: 2%;
  border-radius: 2em;
  cursor: pointer;
}

.projDescr
{
  margin: 10% 15%
}

.projectDetailsImage
{
  width: 80%;
  margin: 5% 10%;
}